.main{
    width: 100%;
    background: linear-gradient(to top,rgba(17, 12, 12, 0.5)20%,rgba(0, 0, 0, 0.5)20%),url(5.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 80px;
}
.logo{
    width: 100px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.menu{
    width: 400px;
    float: left;
    height: 70px;

}
ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    margin-left: 62px;
    margin-top: 27px;
    font-size: medium;


}
ul li a{
    text-decoration: double;
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
ul li a:hover{
    color: blue;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: aliceblue;
    position: relative;
}
#btn{
    size: 30px;
    color: blue;
    font-size: x-large;
}
.content.par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.enter{
    width: 100%;
    height: auto;
    background: linear-gradient(to top,rgba(0,0,0,0.5)20%,rgba(0,0,0,0.5)20%),url(5.jpg);
    background-position: center;
    background-size: cover;
}
#image{
    width: 150px;
    height: 100px;
    margin: -30px;
}
#submitted:hover{
    color:orangered;
}
#submitted{
    font-size: medium;
    font-family: 'Times New Roman';
    font-weight: bold;
    border-color: burlywood;
    transition: 0.4s ease-in-out;
}
#clear{
    font-size: medium;
    font-family: 'Times New Roman';
    font-weight: bold;
    transition: 0.4s ease-in-out;
    border-color: burlywood;

}
#clear:hover{
    color: orangered;

}
#confirmed{
    font-size: medium;
    font-family: 'Times New Roman';
    font-weight: bold;
    transition: 0.4s ease-in-out;
    border-color: burlywood;

}
#confirmed:hover{
    color: orangered;

}
